<div class="container">
    <h3>Add Image Carousel</h3>
    <form (ngSubmit)="onSubmit()" #imageForm="ngForm">
        <div class="form-group">
            <label for="imageInput">Select Image</label>
            <input
                type="file"
                id="imageInput"
                name="image"
                accept="image/*"
                (change)="onFileChange($event)"
                required
                ngModel
            />
        </div>
        
        <!-- Image preview section -->
        <div class="form-group" *ngIf="image">
            <label>Preview:</label>
            <img [src]="image" alt="Selected Image" class="img-preview" />
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!imageForm.form.valid">Add Image</button>
            <button type="button" class="btn btn-back" [routerLink]="'/admin/carosel/caroseldashboard'">Back</button>
        </div>
    </form>
</div>